#content {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 1rem 2rem;
}

.card {
  margin: 1rem 1rem;
  width: 25rem;
  display: inline-block;
  vertical-align: top;
}

.op-button {
  display: inline-block;
  margin: 0 0.3rem !important;
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.08s linear !important;
}

.op-button i {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.8rem;
  line-height: 3rem;
}

.op-button:hover {
  background-color: rgba(0, 0, 0, 0.06);
  transition: background-color 0.08s linear !important;
}

.card-action {
  padding: 0.2rem 0.5rem !important;
}

.item-icon {
  background-color: gray;
  color: white;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
}

.memo-time {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0.5rem !important;
}

.memo-content {
  max-height: 10rem;
  overflow-y: auto;
  width: calc(25rem - 48px);
  word-wrap: break-word;
  font-family: unset;
}